@font-face {
    font-family: "Roboto-bold";
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

body{
    height: 98vh;
    background-color: hsl(235, 18%, 26%) !important;
}

.custom-card{
    background-color: hsl(0, 0%, 100%);
    width: 928px;
    height: 641px;
    padding: 24px;
    border-radius: 36px;
}

.card__info-container h1{
    line-height: 100%;
    font-weight: bold;
    font-size: 56px;
}

p{
    line-height: 150%;
    font-size: 16px;
}



.card__info-container{
    margin: 0 60px;
}

input{
    padding: 15px 24px;
    border-radius: 8px;
    border: 1px solid hsl(231, 7%, 60%);
    margin-bottom: 23px;
}

.body-small{
    font-size: 12px;
    font-weight: bold;
}

.btn-custom{
    border: none;
    padding: 15px 24px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    background:  hsl(234, 29%, 20%);
    transition: all .3s ease-out;
}

.btn-custom:hover{
    background-color: hsl(4, 100%, 67%) ;
    box-shadow: 0px 16px 32px rgba(255, 97, 85, .5);
}

.btn-custom:active{
    transform: scale(.95);
}

li{
    list-style: none;
}

ul{
padding-left: 0 !important;
}

.email-label{
    margin-bottom: 8px ;
}

.input-email{
    margin-bottom: 23px ;
}

.input-email:focus, .input-email:active,.input-email:hover {
    border: 1px solid hsl(234, 29%, 20%) !important;
}

.newsletter-text{
    margin-bottom: 41px;
}

.headline{
    margin-bottom: 24px ;
}

.body{
    margin-bottom: 24px;
}

ul.list li{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    gap: 17px;
    align-items: center;
}

.list-elem::before{
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background: url("./assets/images/icon-list.svg");
}